.myh{
    color:orange;
    text-align:center;

    }

#se{
    background-image:url('ronaldo.png');
    background-repeat:repeat-y;
    font-size:20px;
    border:2px solid;padding: 20px;margin:20px;background-color:gray;
    }

#myimg{
 border:2px solid;
 opacity:0.5;
 background-color: red;
 box-shadow: 20px 20px 20px 0;
 
}

nav{
    background-color: aqua;
    
}

a:link{
    font-size: 50px;
    background-color: grey;
    font-family: fantasy;
    padding:2px;
    margin: 20px;
}
a:visited{
    color: rgb(212, 22, 22);
}
a:hover{
    color: chocolate;

}

a:active{
    color: darkgreen;
}

#se{
   
    outline: 10px dotted;
}

table{
    border-collapse: collapse;
}
#mysize{
    width: 900px;
    height:700px;
    border: 3px solid;
}
#myani{
    width: 200px;
    height: 200px;
    border: 3px solid;
    border-radius:50px;
    background-color: blue;
    -webkit-animation: myfirst 6s;
    animation: myfirst 5s;
    position: relative;
}

@-webkit-keyframes myfirst{
   0%{background: red;left: 0px;top: 0px;}
   25%{background: blue;left: 450px;top: 0px;}
   50%{background: rgb(11, 134, 108);left: 450px;top: 450px;}
   75%{background: rgb(184, 18, 109);left: 0px;top: 450px;}
   100%{background: rgb(10, 0, 0);left: 0px;top: 0px;}
}


p{
    padding: 25px;
    font-family: fantasy;
    color: beige;
}